html,
body {
  margin: 0;

  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
}

#game {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.tile {
  margin: 1.66%;
  width: 30%;
  padding-bottom: 30%;
  position: relative;
  background: white;
  color: transparent;
  transition: background 0.1s ease-in-out;
  /*dp2*/
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#\34 ::before {
  content: 'NEW GAME';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tile.x {
  background: #3f51b5;
}

.tile.o {
  background: #e91e63;
}

.button,
#game:not(.over) .tile.empty,
#game.over #\34 {
  cursor: pointer;
}

.tile.empty::after,
#game.over #\34 ::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /*dp8*/
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

#game:not(.over) .tile.empty:hover:not(:active)::after,
#game.over #\34 :hover:not(:active)::after {
  opacity: 1;
}

.over .tile {
  color: white;
}

.over .tile.empty {
  color: black;
}

.over .tile:not(.win):not(#\34) {
  box-shadow: none;
}

.over .tile.x:not(.win):not(#\34) {
  background: #e8eaf6;
}

.over .tile.o:not(.win):not(#\34) {
  background: #fce4ec;
}

#navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.button {
  padding: 12px;
  margin: 8px 12px;
  color: #424242;
}

#settings {
  position: absolute;
  z-index: 2;
  top: 64px;
  right: 12px;
  padding: 8px 0px;
  background: white;
  transition: opacity 0.2s ease-in-out;
  /*dp2*/
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.menu-item {
  padding: 20px 16px;
  cursor: pointer;
}

.menu-item:hover {
  background: #eeeeee;
}

.hidden {
  display: none;
}

@media screen and (orientation: portrait) {
  #game {
    height: 96vw;
    width: 96vw;
  }
}

@media screen and (orientation: landscape) {
  #game {
    height: 80vh;
    width: 80vh;
  }
}

@media (max-width: 599px) {
  #navbar,
  #footer {
    height: 56px;
  }

  .button {
    margin: 4px;
  }

  #settings {
    top: 56px;
    right: 4px;
  }
}
