body {
    margin: 0;
    background: #1B1C1D;
}
#game {
    text-align: center;
    font-size: 0;
}
.row {
    height: 30vmin;
    white-space: nowrap;
}
.tile {
    width: 30vmin;
    height: inherit;
    display: inline-block;
}
.tile:hover {
    background: #39783f;
}
#settings {
    height: 10vh;
    width: 100%;
    background: #ef9849;
}
.x {
    background: #395c78;
}
.o {
    background: #bd3b3b;
}
